
body{
  background-color: #31724b;
}
/* 
.navbar{
  background-color: #faebd7;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  
} */
/* 
.left-nav{
  background: none;
} */
/* 
.right-nav{
  width: 75vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3rem;
  gap: 3rem;
    
} */
/* 
.right-nav a{
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
} */
/* 
.header {
  color: black;
  background-color: #31724b;
  border-radius: 10rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  max-height: 1rem;
} */

.navbar img {
  border-radius: 3rem;
  justify-content: center;
  background: none;
}